In [40]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [41]:
#file_location

file_location = r'F:\data Immersion\Preparing and Analzing Data\Raw\Advanced Analytics & Dashboard Design(Achievement 6)\Final report'

In [42]:
file_location

'F:\\data Immersion\\Preparing and Analzing Data\\Raw\\Advanced Analytics & Dashboard Design(Achievement 6)\\Final report'

In [43]:
# Importing housing data

df_aqi = pd.read_csv(os.path.join(file_location, '02 Data', 'original Data', 'US_AQI.csv'))

In [44]:
# Checking data shape

df_aqi.shape

(5617325, 15)

In [ ]:
# Checking data types

In [45]:
df_aqi.dtypes

Unnamed: 0                     int64
CBSA Code                      int64
Date                          object
AQI                            int64
Category                      object
Defining Parameter            object
Number of Sites Reporting      int64
city_ascii                    object
state_id                      object
state_name                    object
lat                          float64
lng                          float64
population                   float64
density                      float64
timezone                      object
dtype: object

In [46]:
pd.options.display.max_columns = None

In [47]:
df_aqi.describe()

,Unnamed: 0,CBSA Code,AQI,Number of Sites Reporting,lat,lng,population,density
count,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06
mean,2.858637e+06,3.028285e+04,4.665572e+01,3.650273e+00,3.849210e+01,-9.425695e+01,5.642292e+05,1.083637e+03
std,1.650380e+06,1.142715e+04,3.570811e+01,5.092484e+00,5.595372e+00,1.678664e+01,1.537382e+06,1.013632e+03
min,0.000000e+00,1.010000e+04,0.000000e+00,1.000000e+00,1.797430e+01,-1.593521e+02,1.903000e+03,4.000000e+00
25%,1.430628e+06,2.010000e+04,3.000000e+01,1.000000e+00,3.494420e+01,-1.069642e+02,2.843700e+04,5.250000e+02
50%,2.857802e+06,3.034000e+04,4.100000e+01,2.000000e+00,3.918860e+01,-8.893420e+01,1.225490e+05,8.340000e+02
75%,4.287185e+06,4.042000e+04,5.400000e+01,4.000000e+00,4.211550e+01,-8.154200e+01,3.913710e+05,1.255000e+03
max,5.718370e+06,4.974000e+04,2.064600e+04,7.200000e+01,6.483530e+01,-6.606100e+01,1.868002e+07,1.076800e+04

In [49]:
# cheak for Duplicated data
df_duplicated = df_aqi[df_aqi.duplicated()]

In [50]:
df_duplicated

Empty DataFrame
Columns: [Unnamed: 0, CBSA Code, Date, AQI, Category, Defining Parameter, Number of Sites Reporting, city_ascii, state_id, state_name, lat, lng, population, density, timezone]
Index: []

# NO duplicated found

In [51]:
# changing columns name 
df_aqi.rename( columns = {'lat' : 'latitude' }, inplace = True)

In [52]:
df_aqi.rename( columns = {'lng' : 'longitude' }, inplace = True)

In [53]:
# drop state_id Columns
df_aqi.drop(columns = [ 'state_id' ])

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,latitude,longitude,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
1,1,10140,2022-01-02,12,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
2,2,10140,2022-01-03,18,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
3,3,10140,2022-01-04,19,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
4,4,10140,2022-01-05,17,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617320,5718366,49740,1980-12-27,52,Moderate,CO,1,Yuma,Arizona,32.5995,-114.5491,137612.0,311.0,America/Phoenix
5617321,5718367,49740,1980-12-28,52,Moderate,CO,1,Yuma,Arizona,32.5995,-114.5491,137612.0,311.0,America/Phoenix
5617322,5718368,49740,1980-12-29,24,Good,CO,1,Yuma,Arizona,32.5995,-114.5491,137612.0,311.0,America/Phoenix
5617323,5718369,49740,1980-12-30,14,Good,CO,1,Yuma,Arizona,32.5995,-114.5491,137612.0,311.0,America/Phoenix
5617324,5718370,49740,1980-12-31,24,Good,CO,1,Yuma,Arizona,32.5995,-114.5491,137612.0,311.0,America/Phoenix

In [59]:
df_aqi_clean = df_aqi.drop(columns = ['state_id'])

In [60]:
df_aqi_clean.head()

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,latitude,longitude,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
1,1,10140,2022-01-02,12,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
2,2,10140,2022-01-03,18,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
3,3,10140,2022-01-04,19,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
4,4,10140,2022-01-05,17,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

In [56]:
df_aqi_clean.dtypes

Unnamed: 0                     int64
CBSA Code                      int64
Date                          object
AQI                            int64
Category                      object
Defining Parameter            object
Number of Sites Reporting      int64
city_ascii                    object
state_name                    object
latitude                     float64
longitude                    float64
population                   float64
density                      float64
timezone                      object
dtype: object

In [ ]:
# Checking mixed data types

In [61]:


for col in df_aqi_clean.columns.tolist():
  weird = (df_aqi_clean[[col]].applymap(type) != df_aqi_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_aqi_clean[weird]) > 0:
    print (col)

No mixed data

In [62]:
# Checking for missing values

df_aqi_clean.isnull().sum()

Unnamed: 0                   0
CBSA Code                    0
Date                         0
AQI                          0
Category                     0
Defining Parameter           0
Number of Sites Reporting    0
city_ascii                   0
state_name                   0
latitude                     0
longitude                    0
population                   0
density                      0
timezone                     0
dtype: int64

In [ ]:
# no missing data

In [67]:
# Exporting as csv file

df_aqi_clean.to_csv(os.path.join(file_location, '02 Data', 'ready data', 'US_AQI_clean.csv'))